/* 页面整体 */
body {
    margin: auto;
    max-width: 580px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

/* 页脚 */
footer {
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}

/* 头像 */
.avatar {
    width: 40px;
}

.project-list{
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    max-height: 300px; /* 设置最大高度，超过部分将出现滚动条 */
    overflow-y: auto; /* 显示纵向滚动条 */
}

.project-list li {
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
}

.project-list li:last-child {
    border-bottom:none;
}

.project-list li:hover {
    background-color: #f8f9fa;
}

/* 龙猫图片 */
.totoro {
    display: block;
    margin: 0 auto;
    height: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.float-right {
    float: right;
}

.View {
    overflow-y : auto !important;
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background: #F5C518;
    border-radius: 5px;
    padding: 3px 5px;
    resize : both;
}
.Edit {
    overflow-y : scroll !important;
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background: #F5C518;
    border-radius: 5px;
    padding: 3px 5px;
    resize : both;
}

textarea {
    overflow-y : scroll;
    width: 100%;
    height: 300px;
    resize : both;
}
.btn-save {
    /* 添加你的样式 */
    background-color: green;
    color: white;
    /* 其他样式属性 */
}

.btn-cancel {
    /* 添加你的样式 */
    background-color: red;
    color: white;
    /* 其他样式属性 */
}
.back-to-projects {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
/* 覆盖某些浏览器对 input 元素定义的字体 */
input[type=submit] {
    font-family: inherit;
}

input[type=text] {
    border: 1px solid #ddd;
}

input[name=year] {
    width: 50px;
}

.btn {
    font-size: 12px;
    padding: 3px 5px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid #555555;
    border-radius: 5px;
}

.btn:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid black;
}
.alert {
    position: relative;
    padding: 7px;
    margin: 7px 0;
    border: 1px solid transparent;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5px;
}
/* 在样式表中添加 */
.flash-messages {
    animation: fadeOut 5s ease-out;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.inline-form {
    display: inline;
}
.delete-btn
{
    background-color:red;
    color:white;
}

.comment-list {
    list-style-type: none;
    padding: 2px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    max-height : 300px;
    overflow-y:auto;
    font-family: 'Arial', sans-serif;
}

.comment-item {
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
}

.comment-item:last-child {
    border-bottom: none;
}

.comment-item:hover {
    background-color: #f8f9fa;
}

/* 评论表单 */
.comment-form {
    margin-top: 20px;
}
/* 输入框样式 */
.comment-form input[type="text"],
.comment-form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 13px;
}

.comment-form textarea {
    wideth: 100%;
    height: 100%;
    margin-bottom : 10px;
    resize: vertical; /* 允许垂直调整文本框大小 */
}

.comment-form input[type="submit"] {
    background-color: #4caf50; /* 绿色 */
    color: #fff;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.comment-form input[type="submit"]:hover {
    background-color: #45a049; /* 鼠标悬停时的颜色 */
}
/* 在你的 CSS 文件中或者在 <style> 标签中添加 */
textarea {
    height: 15px; /* 设置一个最小高度，可以根据需要调整 */
    resize: both; /* 阻止用户手动调整 textarea 大小 */
    overflow-y: scroll; /* 隐藏超出最小高度的内容，而不是出现滚动条 */
}

