<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ user.name }}'s ProgrammingLearning</title>
    <link rel = "stylesheet" , href = "{{url_for('static' , filename = 'style.css')}}" , type = "text/css"}">
</head>
<body>
    {# 使用 length 过滤器获取 movies 变量的长度 #}
    {% extends 'base.html' %}

    {% block content %}
    <p>{{ projects|length }} Titles</p>
    <ul class = "project-list">
              {% for project in projects %}  {# 迭代 movies 变量 #}
        <li>{{ project.title }}  
            <span class = "float-right">
            <a class  = "Edit" target =  "_blank" title = "edit the essay">Edit</a>
            </span>
                </li>
        {% endfor %}  {# 使用 endfor 标签结束 for 语句 #}
    </ul>
    <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}">
            {% endblock%}
    <footer>
        <small>Email:wx375645615@gmail.com</small>
    </footer>
</body>
</html>
