<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ user.name }}'s Programming Learning</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
    {# 使用 length 过滤器获取 projects 变量的长度 #}
    {% extends 'base.html' %}

    {% block content %}
    <p>{{ projects|length }} Titles</p>
    {% if current_user.is_authenticated %}
    <form method="post">
        Title<input type =  "text" name = "title" autocomplete = "off" required>
        <input class="btn" type="submit" name="submit" value="Add">
    </form>
    {% endif %}
        <ul class="project-list">
        {% for project in projects %}  {# 迭代 projects 变量 #}
            <li>{{ project.title }}  
                <span class="float-right">
                    {% if current_user.is_authenticated %}
                    <form class="inline-form" method="post" action="{{ url_for('delete', project_id=project.id) }}">
                    <input class="btn delete-btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
                    </form>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <a class="Edit" href="{{ url_for('edit_project', project_id=project.id) }}"  title="edit the essay">Edit</a>
                    {% endif %}
                    <a class="View" href="{{ url_for('view_project', project_id=project.id) }}"  title="view the project">View</a>
                </span>
            </li>
        {% endfor %}  {# 使用 endfor 标签结束 for 语句 #}
    </ul>
    <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}">
    {% endblock %}
    <footer>
        <small>Email: wx375645615@gmail.com</small>
    </footer>
</body>
</html>

